.main_landing_page{
    width: 100%;
    margin: 0;
}

.movie-type-title{
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.1rem;
}

.film-icon{
    margin-right: 10px;
    color: red;
}

.landing_body{
    width:65%; 
    margin: auto;
}