.mainimage{
    background: linear-gradient(rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.65) 100%), url(http://image.tmdb.org/t/p/w1280/zGLHX92Gk96O1DJvLil7ObJTbaL.jpg), rgb(28, 28, 28);
    height: 500px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}